<section>
    <h3>四、判断题</h3>
    <ul>

        <% topics.forEach(function(topic,i) { %>
        <li>
            <label><%= i+1 %>.<%= topic.question %></label>
            <% for(var choice in topic.options ) { %>
                <input name="judge<%= i %>" type="radio" value="<%= choice%>"/><%= topic.options[choice] %>
            <% }%>
        </li>
        <% }); %>

    </ul>
</section>