<section>
    <h3>三、多选题</h3>

    <% topics.forEach(function(topic,i){ %>
    <ul>
        <label><%= i+1 %>.<%= topic.question %></label>

        <% for(var choice in topic.options) { %>
        <li>
            <input name="multiple_choice<%= i %>" type="checkbox" value="<%= choice%>"/>
            <label>（<%= choice %>）<%= topic.options[choice] %></label>

        </li>
        <% } %>

    </ul>
    <% }); %>

</section>