<section class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">三、多选题</h3>
    </div>

    <div class="panel-body">
        <% topics.forEach(function(topic, i){ %>
        <ul class="list-group">
            <label><%= i + 1 %>.<%= topic.question %></label>

            <% for(var choice in topic.options) { %>
            <li class="list-group-item">
                <% var isChecked = (topic.value.indexOf(choice) !== -1) ? 'Checked' : '' %>
                <input name="multiple_choice<%= i %>" type="checkbox" value="<%= choice %>" <%= isChecked %>/>
                <label>（<%= choice %>）<%= topic.options[choice] %></label>

            </li>
            <% } %>

        </ul>
        <% }); %>
    </div>
</section>