<section class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">二、选择题</h3>
    </div>

    <% topics.forEach(function(topic, i){ %>

    <ul class="panel-body">

        <label><%= i + 1 %>.<%= topic.question %></label>

        <% topic.options.forEach(function(option) { %>
        <li class="list-group-item">
            <% var isChecked = (topic.value.toString() === option.value ) ? 'Checked' : '' %>
            <input name="single_choice<%= i %>" type="radio" value="<%= option.value %>" <%= isChecked %>/>
            <label>（<%= option.value %>）<%= option.description %></label>
        </li>
        <% }); %>

    </ul>
    <% }); %>

</section>
