<section class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">四、判断题</h3>
    </div>

    <div class="panel-body row">

        <div class="list-group">

            <ol>

                <% topics.forEach(function(topic, i) { %>
                <li>

                    <div class="form-inline">
                        <label><%= topic.question %></label>

                        <div class="form-group">
                            <% topic.options.forEach(function(option) { %>
                            <% var isChecked = option.value === topic.value.toString() ? 'Checked' : '' %>
                            <input name="true_false<%= i %>" type="radio"
                                   value="<%= option.value %>" <%= isChecked %>/><%= option.description %>

                            <% }); %>

                        </div>
                    </div>

                </li>
                <% }); %>

            </ol>

        </div>
    </div>

</section>