<!DOCTYPE html>
<html>
<head>
  <title>统一建模语言理论测试</title>
</head>
<body>

<h1>统一建模语言理论测试</h1>

  <form action="/" method="post" class="userInput" autocomplete="off">

    <%- include('partials/_header.ejs') %>

    <%- include('partials/_fill-in-blank.ejs') %>

    <%- include('partials/_single-choice.ejs') %>

    <%- include('partials/_multiple-choice.ejs') %>

    <%- include('partials/_judge.ejs') %>

    <%- include('partials/_simple-answer.ejs') %>


    <button type="submit" />提交

  </form>



  </body>
</html>
