<!DOCTYPE html>
<html>
<head>
  <title>统一建模语言理论测试</title>
</head>
<body>

<h1>统一建模语言理论测试</h1>

  <form action="/" method="post" class="userInput" autocomplete="off">

    <%- include('partials/_header.ejs') %>

    <%- include('partials/_fill-in-blank.ejs', {topics: topics.fill_in_blank}) %>

    <%- include('partials/_single-choice.ejs', {topics: topics.single_choice}) %>

    <%- include('partials/_multiple-choice.ejs', {topics: topics.multiple_choice}) %>

    <%- include('partials/_judge.ejs', {topics: topics.judge}) %>

    <%- include('partials/_simple-answer.ejs', {topics: topics.simple_answer}) %>


    <button type="submit" />提交

  </form>

  </body>
</html>
