<!DOCTYPE html>
<html>
<head>
  <title>统一建模语言理论测试</title>
</head>
<body>

<h1>统一建模语言理论测试</h1>

  <form action="/" method="post" class="userInput" autocomplete="off">

    <%- include('partials/_header.ejs', {totalScore: getTotalScore(),studentInfo: getStudentInfo() }) %>

    <%- include('partials/_fill-in-blank.ejs', {topics: getFillInBlankTopic() }) %>

    <%- include('partials/_single-choice.ejs', {topics: getSingleChoiceTopic() }) %>

    <%- include('partials/_multiple-choice.ejs', {topics: getMultipleChoiceTopic() }) %>

    <%- include('partials/_judge.ejs', {topics: getJudgeTopic() }) %>

    <%- include('partials/_simple-answer.ejs', {topics: getSimpleAnswerTopic() }) %>


    <button type="submit" />提交

  </form>

  </body>
</html>
